.todo-container {
  display: flex;
  flex-direction: column;
}

.todo-text-input {
  width: auto;
}

.add-button {
  min-width: 60px;
}

.user-form {
  display: flex;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 5px;
}

