h1 {
  color: green;
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center;
}

/* TODO: use sass variables instead? */
@media (max-width: 480px) {
  .form-horizontal .control-label {
    width: 85px;
  }

  .form-horizontal .controls {
    margin-left: 85px;
  }
}